body {
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    background-color: rgb(111, 10, 111); 
    height: 100vh;
    margin: 0;
    letter-spacing: 1px;
}

h1{
    letter-spacing: 5px;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.formulario_contacto {
    background-color: violet;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #C7C7C7;

}

input {
    padding: 0px 15px;
    margin-top: 5px;
    width: 408px; 
    height: 40px; 
    border: none;
    background-color: white;
    border-radius: 5px;
}

label{
    font-size: medium;
    display: block; 
    float: center;  
  }

/* button{
    font-family: 'Bebas Neue', cursive;
    background-color: rgb(111, 10, 111);
    padding: 5px 20px;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: medium;
} */

textarea {
    margin-top: 5px;
    width: 408px; 
    height: 40px; 
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    resize: none;
}

textarea:focus, input:focus {
    outline: none;
    background-color: rgb(247, 218, 247);

}

button {
  background: transparent;
  font-weight: semibold;
  color: #444;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid #eee;
  border-radius: .5rem;
  transition: all 1s ease;
  cursor: pointer;

}

button:hover {
  box-shadow: 0rem 0rem 1rem pink,
            0rem 0rem 1rem #ccc;
}

button:active{
  box-shadow:inset 1rem 2rem 1rem pink,
            inset -.2rem -.2rem .5rem #ccc;;
}